
  @media(max-width:1600px) {
 
  .section-first-title{
        
        gap: 8rem;
       
       
    }
    
    .title-section-first p{
       
        padding-top: 6rem;
    }
    .first-secion-span{
       
        margin-top: 2rem;
       
    }
    
    
    
    .img-section-first{
       
        width: 100%;
      
        position: relative;
        
    }
    .img-title{
        width: 100%;
        position: absolute;
        top: 10%;
        border-radius: 20px;
        
        
    }
    /*////////////////////////////////////////////////////////////////////////////*/
    /*main section Why*/
    
    
    
    
    /* ///////////////////////////////////////////////////////////////////
                            section thrid */
    
    
    
    .third-section-who {
        
        
        /* margin-left: 10rem;/ */
        /* margin-right: 10rem; */
        padding-top: 10rem;
        
        gap:4rem
        
    }
    .third-section-who h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
    }
    
    
    
    
    .description-for-who
    { display: inline-block;
        font-size: 2.5rem;
        /* border: 1px solid black; */
        box-shadow: 10px 7px 20px -16px rgba(66, 68, 90, 1);
        border-radius: 10px;
        height: 6rem;
        width: 40rem;
        text-align: center;
        line-height: 6rem;
        margin-top: 20px;
        margin-bottom: 2rem;
        /* background-color: white; */
    
    }
    
    
    
    .ul-descritpion-for-who li{
        font-size: 1.6rem;
        
        height: 4rem;
        width: 30rem;
        line-height: 4rem;
    }
    
         /* /////////////////////////////////////////////////////////// */
    
    
    /* //////////////////////////////////////////////
    sekcja cost
    */
    
    
    
    .cost-div{
        margin-top: 7rem;
        padding-top: 7rem;
        border: 1px solid black;
        width: 30rem;
        height: 40rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
    
        
        
    }
    
    
    .cost-of-type{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5rem;
        
    
    }
    .time-description{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    
    .cost-time{
        font-size: 1.9rem;
        font-weight: 500;
        margin-bottom: 0rem;
        
    
    }
    .cost-enter{
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 9rem;
    
    }
    
      /* ///////////////////////////////////////////////////////// */
    
     
      .contact-section{
    
          padding-top: 4rem;
          display: flex;
          gap: 10rem;
      }
      .contact{
    
          width: 70rem;
          height: 65rem;
        
    
      }
      form{
          margin-top: 5rem;
         display: flex;
         flex-direction: column;
         gap: 3rem;
         width: 50rem;
         margin-left: 3rem;
         
          
      }
      form input{
          font-size: 1.8rem;
          height: 4rem;
      }
      textarea{
          font-size: 2rem;
          height: 6rem;
    
      }
      .btn-message{
          width: 20rem;
          margin-bottom: 10rem;
          border-radius: 10px;
          height: 4rem;
          background-color: #c7473cd0;
          color: white;
          border: none;
        box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
        transform: translateX(300px);
    
      }
      .btn-message:hover{
          opacity: 0.8;
      }
      .socials{
          transform: translateY(-50px);
      }
      .social{
          margin-bottom: 10px;
          margin-left: 50px;
      }
      .social a{
          padding-left: 5px;
          font-size: 1.6rem;
          text-decoration: none;
          color: blue;
          
          
      }
      .social img{
          width: 40px;
          transform: translateY(10px);
           
      }
    
      .mapa{
         display: flex;
         flex-direction: column;
         gap: 2rem;
         border: 1px solid rgb(0, 0, 0);
         border-radius: 10px ;
         box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
         overflow: hidden;
    
    
         
         
      }
      .mapa-direction{
          font-size: 1.8rem;
          text-align: center;
          margin-top: 2rem;
          font-weight: 600;
          letter-spacing: 1px;
      }
      iframe{
          width: auto;
          height: 50rem;
      }
    
      footer{
         
          border-top: 3px solid black;
          background-color: white;
          padding-bottom: 2rem;
          margin-bottom: 0rem;
    
      }
      .fotter-direction{
          padding-top: 1rem;
        font-size: 1.6rem;
          text-align: center;
          line-height: 2rem;
          font-weight: 600;
      }
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      @media(max-width:1200px){
    
       body{
        background-color: blue;
       }
        html{
            font-size: 40.5%;
            
        }
    
      
        .img-title{
            width: 90%;
           
            
            
        }
       
        /*////////////////////////////////////////////////////////////////////////////*/
        /*main section Why*/
        
        
          
      
        
        .description-odd{
           
            font-size: 2rem;
            
            
        }
        .description-odd p{
            
            line-height: 30px;
        }
        
       
        
        
        
        
        .description-even{
            
             font-size: 2.2rem;
            
             
        }
        
        
        .description-even p{
            
            line-height: 30px;
        }
        
        
        
        
        
        
        .span-p{
            letter-spacing: 2px;
        }
        
        
        
        
        /* ///////////////////////////////////////////////////////////////////
                                section thrid */



.ul-descritpion-for-who li{
    font-size: 2.5rem;
    
}
             /* /////////////////////////////////////////////////////////// */
             /* four */
             .operations__tab {
               
                height: 4rem;
                
                font-size: 3rem;
                
            
              }
              
              
              
            
              
            
            
              /*  */
              
             
              
              
            

               
              .operations__header {
                font-size: 4rem;
                
              }
          
          
        
           
        /* //////////////////////////////////////////////
        sekcja cost
        */
        
        .cost{
            height: auto;
            
        background-color: white;
        
        }
        .cost-section{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-row: 1fr 1fr;
            padding-bottom: 22rem;
          padding-left: 4rem;
            gap: 1rem;
           
            
            
      
           
        }
        .cost-div{
            
            margin-top: 12rem;
            
            width: 25rem;
         
            
        
            
            
        }
      
          /* ///////////////////////////////////////////////////////// */
        
          .five{
              height: 100vh;
             background-color: white;
          }
          .contact-section{
        
              padding-top: 12rem;
              display: flex;
              gap: 3rem;
              margin: 0 auto 0 auto;
          }
          .contact{
            margin: 0 auto 0 auto;
    
              display: flex;
        flex-direction: column;
              border: 1px solid black;
              width: 60rem;
              height: 70rem;
              border-radius: 10px;
            box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
        
          }
          form{
              margin-top: 5rem;
             display: flex;
             flex-direction: column;
             gap: 3rem;
             width: 40rem;
             margin-left: 4rem;
             
              
          }
          form input{
              font-size: 2rem;
              height: 6rem;
          }
          textarea{
              font-size: 2rem;
              height: 6rem;
        
          }
          .btn-message{
              width: 20rem;
              margin-bottom: 10rem;
              border-radius: 10px;
              height: 4rem;
              background-color: #c7473cd0;
              color: white;
              border: none;
            box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
            transform: translateX(150px);
        
          }
          .btn-message:hover{
              opacity: 0.8;
          }
          .socials{
              transform: translateY(-50px);
              
          }
          .social{
              margin-bottom: 10px;
              margin-left: 30px;
          }
          .social a{
              padding-left: 5px;
              font-size: 1.6rem;
              text-decoration: none;
              color: blue;
              
              
          }
          .social img{
              width: 30px;
              transform: translateY(10px);
               
          }
        
          .mapa{
             display: flex;
             flex-direction: column;
             width: 55rem;
             gap: 2rem;
             border: 1px solid rgb(0, 0, 0);
             border-radius: 10px ;
             box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
             margin-right: 6rem;
             overflow: hidden;
        
        
             
             
          }
          /*  */
          
        
          
        
    
      }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* @TODO27.09.2022 */
    
      @media(max-width:780px){
    
    body{
        background-color: cadetblue;
    }

    header{
        height: 12rem;
       
        
        display: grid;
        grid-template-columns: 55fr 45fr;
        
    }
    .logo-header{
        display: inline-block;
        width:12rem ;
        margin-top: 2rem;
        margin-left: 10rem;
        
    }
    .ul-nav-header{
        display: none;
       
        
    }
    
    
    html{
            font-size: 45%;
           
        }
    
        .section-first-title{
        
            gap: 10rem;
           
           
        }
        
        .title-section-first p{
           
            padding-top: 13rem;
        }
       
       
        /*////////////////////////////////////////////////////////////////////////////*/
        /*main section Why*/
        
        
        
        .second h1{
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-size: 20px;
            letter-spacing: 2.5px;
        }
        .secont-section-why {
            display: flex;
            flex-direction: column;
            /* height: 100%; */
            
           
            
            /* gap: 10rem; */
            
            
        }
        .odd{
            display: flex;
            /* border: 1rem solid black; */
            height: 40%;
           
            
        }
        .description-odd{
            
            font-size: 1.8rem;
            margin-left: 10rem;
            margin-top: 2rem;
            
            border-radius: 10px;
            height: fit-content;
            width: max-content;
            transform: translateY(7rem);
            
            
        }
        .description-odd p{
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 30px;
        }
        
        .img-odd img{
            border-radius: 20px;
            width: 40rem;
            margin-right: 5rem;
        }
        
        
        .even{
            display: flex;
            /* border: 1rem solid black; */
        height: auto;
        }
        
        .description-even{
            margin-top: 2rem;
           
             font-size: 1.8rem;
             margin-right: 5rem;
            /* background-color: #F5DBBC; */
             
             border-radius: 10px;
             height: fit-content;
             transform: translateY(7rem);
             
             
        }
        .mental-improvement:last-of-type{
        padding-bottom: 10rem;
        }
        
        .description-even p{
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 30px;
        }
        
        .img-even img{
            border-radius: 20px;
            width: 35rem;
            margin-left: 5rem;
            transform: translateY(34px);
        }
    
        
        
        
        
        .span-p{
            letter-spacing: 2px;
        }
        
        /* ///////////////////////////////////////////////////////////////////
                                section thrid */
                                .kids{
                                    /* border: 1px solid black; */
                                    width: 40vw;
                                    height: 68vh;
                                
                                
                                }
                                .adults{
                                    /* border: 1px solid black; */
                                    width: 40vw;
                                    height: 68vh;
                                  
                                
                                
                                }
       
        
             /* /////////////////////////////////////////////////////////// */
        .four{
            height: 100vh;
        
            background-color: bisque;
        }
        .when-h1{
            font-size: 3rem;
            color: black;
        }
           
             
        
          .operations {
            max-width: 90%;
            margin: 0rem auto 0 auto;
            padding-top: 10rem;
            
            /* display: grid; */
            
          
        
            
          }
          
          
        
           
        /* //////////////////////////////////////////////
        sekcja cost
        */ 
        .cost-section{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-row: 1fr 1fr;
            padding-bottom: 22rem;
          padding-left: 4rem;
            gap: 1rem;
           
            
            
      
           
        }
        .cost-div:last-of-type{
            
            grid-column: 3 / 4;
         
            
        
            
            
        }
        
       
          /* ///////////////////////////////////////////////////////// */
        
         
          .contact-section{
        
              padding-top: 12rem;
              
              
          }
          .contact{
          
              width: 50rem;
              height: 70rem;
             
        
          }
          form{
              margin-top: 5rem;
             
             gap: 3rem;
             width: 40rem;
             margin-left: 4rem;
             
              
          }
          form input{
              font-size: 2rem;
              height: 6rem;
          }
          textarea{
              font-size: 2rem;
              height: 6rem;
        
          }
          .btn-message{
              width: 20rem;
             
              height: 4rem;
             
            transform: translateX(150px);
        
          }
         
          .socials{
              transform: translateY(-50px);
          }
          .social{
              margin-bottom: 10px;
              margin-left: 30px;
          }
          .social a{
              padding-left: 5px;
              font-size: 1.4rem;
             
              
              
          }
          .social img{
              width: 30px;
              transform: translateY(10px);
               
          }
        
          .mapa{
           
             width: 45rem;
             gap: 2rem;
           
        
        
             
             
          }
          .mapa-direction{
              font-size: 1.8rem;
             
          }
          iframe{
             
              
              height: 60rem;
          }
        
          footer{
              height: 10vh;
              
          }
          .fotter-direction{
              padding-top: 1rem;
            font-size: 1.6rem;
            
          }
        
    
      }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      
      
    
    
    
    
    
      @media(max-width:430px) {
        html{
            font-size: 35.5%;
           
        }
      
     
        
        
     .section-first{
     display: none;
      
    }



   .section-first2{
    height: 90vh;
    display:grid;
    grid-template-rows: 6fr 1fr;

    
}
.title-section-first{
    display:grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
       }


    .section-first-title{
        padding-left: 10rem;
        display: block;
        grid-row: 1/2;
        
    }
     
       
    #title-span-first-section
        {
font-weight: 500;
        }
    .title-section-first p{
       
        font-size: 5rem;
        font-weight: 500;
        grid-row: 1/2;

       
        
    }
    
    
    .first-secion-span{
        display: inline-block;
        line-height: 4rem;
        margin-top: 4rem;
        align-items: center;
        font-size: 3rem;
        font-weight: 500;
        grid-row: 3/4;

    }
    
    .btn-title-section-first{
        display: inline-block;
        width: 50%;
        padding: 1rem;
        font-size: 2rem;
       transform: translate(120px ,-100px);
       
     
       
    }
   
    
    .img-section-first{
       
        grid-row: 2/3;
        width: 300px;
        height: 180px;
        
      
        
        
    }
    
        /*////////////////////////////////////////////////////////////////////////////*/
        /*main section Why*/
        
        
        
        
        .odd{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr  ;
            /* border: 1rem solid black; */
            height: auto;
            padding-bottom: 10rem;
            
        }
        .description-odd{
            color:#994936;
            font-size: 2.5rem;
            margin-left: 2rem;
            margin-top: 2rem;
            
            
            width: 220px;
            
            grid-row: 1/2;
            grid-column: 1/2;

    

            
        }
        .description-odd p{
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding-left: 1rem;
            padding-right: 0rem;
            line-height: 22px;
            
        }
        
        .img-odd img{
            border-radius: 20px;
            width: 40rem;
            
            
            
        }
        
        
        .even{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr  ;
            /* border: 1rem solid black; */
        height: auto;
        margin-bottom: 10rem;
        }
        
        .description-even{
            margin-top: 2rem;
            color:#994936;
           
             font-size: 2.5rem;
             margin-right: 0rem;
            /* background-color: #F5DBBC; */
             
            width: 200px;
            
            grid-row: 1/2;
            grid-column: 2/3;
             
        }
        .mental-improvement:last-of-type{
        padding-bottom: 10rem;
        }
        
        .description-even p{
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding-left: 2rem;
            padding-right: 1rem;
            line-height: 22px;
        }
        
        .img-even img{
            border-radius: 20px;
            width: 40rem;
            margin-left: -3rem;
        }
        
        
        
        
        .span-p{
            letter-spacing: 3px;
        }
        
        
       
        
        /* ///////////////////////////////////////////////////////////////////
                                section thrid */
        
       
                                .third-page{
                                    height: auto;
                               
                                }
        .third-section-who {
            
            display: flex;
         flex-direction: column;
           
         
            
        }
        .third-section-who h1{
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
        margin-top: 2rem;
        }
        .kids{
            /* border: 1px solid black; */
            width: 55vw;
            height: 50vh;
           
            margin: 0 auto 0 auto;
            margin-bottom: 10rem;
        
        }
        .adults{
            /* border: 1px solid black; */
            margin: 0 auto 0 auto;
    
            width: 55vw;
            height: 50vh;
            
            margin-bottom: 10rem;
        
           
        
        
        }
        
        .img-for-who{
            width: 70%;
            text-align: center;
        }
        .description-for-who
        { display: inline-block;
            font-size:2.5em;
            font-weight: 600;
            /* border: 1px solid black; */
            box-shadow: 10px 7px 20px -16px rgba(66, 68, 90, 1);
            border-radius: 10px;
            height: 8rem;
            width: 30rem;
            text-align: center;
            line-height: 0rem;
            margin-top: 20px;
            margin-bottom: 2rem;
            /* background-color: white; */
        
        }
        .adults-p{
            line-height: 4rem;
        }
        
        
        .ul-descritpion-for-who{
            list-style: none;
            
        }
        .ul-descritpion-for-who li{
            font-size: 2.4rem;
            margin-top: 10px;
            text-align: center;
            /* background-color:white; */
            
        }
        
             /* /////////////////////////////////////////////////////////// */
        .four{
            height: 100vh;
        
            background-color: bisque;
        }
        .when-h1{
            font-size: 3rem;
            color: black;
        }
           
             
        
          .operations {
            max-width: 100%;
            /* margin: 2rem auto 0 auto; */
            padding-top: 10rem;
            
            /* display: grid; */
            
          
        
            
          }
          
          .operations__tab-container2 {
           
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 5rem;
           
          
           
            
          }
          
          .operations__tab {
            /* margin-right: auto; */
            /* transform: translateY(-10%); */
            border: 1px solid black;
            
            color:black;
            height: 5rem;
            width: 10rem;
            font-size: 3.2rem;
            background-color: white;
            border-radius: 10px;
            width: 20rem;
            box-shadow: 20px 7px 20px -9px rgba(66, 68, 90, 1);
        
          }
          table{
           
            /* border-radius: 10px; */
            width: 300px;
         
           
           /* background-color: darkgrey; */
         
     
         
        }
          
        
        /* table tr:nth-of-type(even){
            background-color: rgba(146, 145, 146, 0.76);
        } */
        
       .operations__header {
         font-size: 4rem;
         padding-top: 4rem;
         font-weight: 500;
         font-family: cursive;
         align-self: center;
         justify-self: center;
         text-align: center;
       }
          
          
        
          
         
        /* //////////////////////////////////////////////
        sekcja cost
        */
        .cost{
            height: auto;
            
        background-color: white;
        
        }
        .cost-section{
            display: flex;
            flex-direction: column;
         
            padding-bottom: 5rem;
      
           
        }
        .cost-div{
            margin: 0 auto 0 auto;
            margin-top: 5rem;
            padding-top: 2rem;
            border: 1px solid black;
            width: 50rem;
           
            
        
            
            
        }
        .cost-div:nth-of-type(odd){
            background-color: bisque;
           
        }
        
        .cost-of-type{
            font-size: 3.4rem;
            font-weight: 600;
            margin-bottom: 6rem;
            
        
        }
        .time-description{
            font-size: 3.2rem;
            margin-bottom: 2rem;
        }
        
        .cost-time{
            font-size: 2.8rem;
            font-weight: 500;
            margin-bottom: 2rem;
            
        
        }
        .cost-enter{
            font-size: 3rem;
            font-weight: 600;
            margin-top: 5rem;
        
        }
       
        
      
        .description-p{
            padding-top: 3rem;
            font-size: 4rem;
            font-weight: 800;
            text-align: center;
        }
          /* ///////////////////////////////////////////////////////// */
        
          .five{
            height: auto;
             background-color: white;
          }
          .contact-section{
        
              padding-top: 6rem;
              display: flex;
              flex-direction: column;
              gap: 10rem;
          }
        
          .contact{
              height: 80rem;
          }
          form{
              margin-top: 5rem;
             display: flex;
             flex-direction: column;
             gap: 3rem;
             width: 40rem;
             margin-left: 3rem;
             
              
          }
          form input{
              font-size: 2rem;
              height: 6rem;
          }
          textarea{
              font-size: 2rem;
              height: 6rem;
        
          }
          .btn-message{
              width: 20rem;
              margin-bottom: 10rem;
              border-radius: 10px;
              height: 4rem;
              background-color: #c7473cd0;
              color: white;
              border: none;
            box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
            transform: translateX(100px);
        
          }
         
          .socials{
              transform: translateY(-50px);
             
          }
          .social{
              margin-bottom: 10px;
              margin-left: 20px;
          }
          .social a{
              padding-left: 10px;
              line-height: 10px;
              width: 100px;
              font-size: 2rem;
              text-decoration: none;
              color: blue;
              
              
          }
          .social:last-of-type span{
            display: inline-block;
            width: 200px;
            transform: translate(8px,6px)
          }
          .social img{
              width: 30px;
              transform: translateY(10px);
               
          }
        
          .mapa{
              margin: 0 auto 30px auto;
             display: flex;
             flex-direction: column;
             gap: 2rem;
             border: 1px solid rgb(0, 0, 0);
             border-radius: 10px ;
             box-shadow: 10px 7px 20px -10px rgba(66, 68, 90, 1);
             width: 50rem;
             overflow: hidden;
        
        
             
             
          }
          .mapa-direction{
              font-size: 1.8rem;
              text-align: center;
              margin-top: 2rem;
              font-weight: 600;
              letter-spacing: 1px;
          }
          iframe{
              width: auto;
              height: 60rem;
          }
        
          footer{
              height: 10vh;
              border-top: 3px solid black;
              background-color: white;
        
          }
          .fotter-direction{
              padding-top: 1rem;
            font-size: 2.6rem;
              text-align: center;
              line-height: 3rem;
              font-weight: 600;
          }
        
        }




























        /* /* ////////////////////////////////////////////////////////////// */
        
        
        
        
        
        
          @media(max-width:340px) {
        html{
            font-size: 35.5%;
           
        }
        body{
            background-color: blue;
        }
      
     
        
        
     .section-first{
     display: none;
      
    }



   .section-first2{
    height: 90vh;
    display:grid;
    grid-template-rows: 1fr 1fr;

    
}
.title-section-first{
    display:grid;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
       }


    .section-first-title{
        padding-left: 5rem;
        display: block;
        grid-row: 1/2;
        
    }
     
       
    #title-span-first-section
        {
font-weight: 500;
        }
    .title-section-first p{
       
        font-size: 5rem;
        font-weight: 500;
        grid-row: 1/2;

       
        
    }
    
    
    .first-secion-span{
        display: inline-block;
        line-height: 4rem;
        margin-top: 4rem;
        align-items: center;
        font-size: 2.5rem;
        font-weight: 500;
        grid-row: 3/4;

    }
    
 
   
    
    .img-section-first{
       
        grid-row: 2/3;
        width: 300px;
        height: 180px;
        
      
        
        
    }
    
        /*////////////////////////////////////////////////////////////////////////////*/
        /*main section Why*/
        
        
        
        
        .odd{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr  ;
            /* border: 1rem solid black; */
            height: auto;
            padding-bottom: 10rem;
            
        }
        .description-odd{
            color:#994936;
            font-size: 2.5rem;
            margin-left: 2rem;
            margin-top: 2rem;
            
            
            width: 160px;
            
            grid-row: 1/2;
            grid-column: 1/2;

    

            
        }
        .description-odd p{
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding-left: 1rem;
            padding-right: 0rem;
            line-height: 22px;
            
        }
        
        .img-odd img{
            border-radius: 20px;
            width: 35rem;
            
            
            
        }
        
        
        .even{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr  ;
            /* border: 1rem solid black; */
        height: auto;
        margin-bottom: 10rem;
        }
        
        .description-even{
            margin-top: 2rem;
            color:#994936;
           
             font-size: 2.5rem;
             margin-right: 0rem;
            /* background-color: #F5DBBC; */
             
            width: 140px;
            
            grid-row: 1/2;
            grid-column: 2/3;
             
        }
        .mental-improvement:last-of-type{
        padding-bottom: 10rem;
        }
        
        .description-even p{
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding-left: 2rem;
            padding-right: 1rem;
            line-height: 22px;
        }
        
        .img-even img{
            border-radius: 20px;
            width: 35rem;
            margin-left: -3rem;
        }
        
        
        
        
        .span-p{
            letter-spacing: 3px;
        }
        
        
       
        
        /* ///////////////////////////////////////////////////////////////////
                                section thrid */
        
        
             /* /////////////////////////////////////////////////////////// */
        .four{
            height: 100vh;
        
            background-color: bisque;
        }
        .when-h1{
            font-size: 3rem;
            color: black;
        }
           
             
        
          .operations {
            max-width: 100%;
            /* margin: 2rem auto 0 auto; */
            padding-top: 5rem;
            
            /* display: grid; */
            
          
        
            
          }
          
          .operations__tab-container2 {
           
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 5rem;
           
          
           
            
          }
          
          .operations__tab {
            /* margin-right: auto; */
            /* transform: translateY(-10%); */
            border: 1px solid black;
            
            color:black;
            height: 5rem;
            width: 10rem;
            font-size: 2.5rem;
            background-color: white;
            border-radius: 10px;
            width: 20rem;
            box-shadow: 20px 7px 20px -9px rgba(66, 68, 90, 1);
        
          }
          table{
           
            /* border-radius: 10px; */
            width: 270px;
         
           
           /* background-color: darkgrey; */
         
     
         
        }
          
        
        
      
          
    
          
         
        /* //////////////////////////////////////////////
        sekcja cost
        */
    
       
        .cost-div{
            
            width: 40rem;
           
            
        
            
            
        }
      
        
        .cost-of-type{
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 6rem;
            
        
        }
        .time-description{
            font-size: 2.2rem;
            margin-bottom: 2rem;
        }
        
        .cost-time{
            font-size: 2.2rem;
            font-weight: 500;
            margin-bottom: 2rem;
            
        
        }
        .cost-enter{
            font-size: 2.5rem;
            font-weight: 600;
            margin-top: 5rem;
        
        }
       
        
      
        .description-p{
            padding-top: 3rem;
            font-size: 4rem;
            font-weight: 800;
            text-align: center;
        }
          /* ///////////////////////////////////////////////////////// */
        
        
        
          footer{
              height: 10vh;
              border-top: 3px solid black;
              background-color: white;
        
          }
          .fotter-direction{
              padding-top: 1rem;
            font-size: 1.6rem;
              text-align: center;
              line-height: 3rem;
              font-weight: 600;
          }
        
        }
    
    
    
    
      